<%= form_for(@note) do |f| %>
  <% @note.errors.full_messages.each do |message| %>
    <div class="be-red white">
      * <%= message %>
    </div>
  <%end%>
  <div class="field">
    <%= f.text_field :title, placeholder: "Título", class:"form-control" %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Contenido de la nota", class:"form-control" %>
  </div>
  <div class="field">
    <%= f.submit "Guardar" %>
  </div>
<%end%>
