<div class="new-note">
  <%= link_to 'Nueva nota', new_note_path, class: 'waves-effect waves-light btn' %>
</div>
<div class="panel-note">
  <% @notes.each do |notes| %>
    <div class="note" style="width: 18rem;">
      <div class="header">
        <div class="options">
          <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_note_path(notes) %>
          <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, note_path(notes), method: :delete, data: {confirm: 'Are you sure?'} %>
        </div>
      </div>
      <div class="card-body">
        <p class="title"><%= notes.title %></p>
        <%= notes.content %>
      </div>
      <div class="footer">
        <div class="fold"></div>
      </div>
    </div>
  <%end%>
</div>
