<% if session[:user] %>
  <%= link_to 'New Note', new_note_path, :class => "btn btn-primary btn-new" %>

  <div class="content-notes">
    <% @notes.each do |note| %>
      <% if note.user_id == current_user.id || current_user.admin? %>
        <div class="note">
          <div class="title"><%= note.title%></div>
          <div class="body"><%= render_with_collections(note.body) %> <br>
            <div class="image-note">
              <% if note.imagenPost %>
                <%= image_tag "/imagePost/#{note.id}/post/#{note.imagenPost}" %>
              <% end %>
              <div class="user">
                <%= link_to note.user.name, user_path(note.user.id), class: 'user-link' %>
              </div>
            </div>
            <div class="user-date">
              <div class="date">
                <%= note.created_at.strftime("%b %d, %Y - %H:%M") %>
              </div>
            </div>
          </div>
          <div class="buttons">
            <div class="list">
              <div class="option" title="Edit"><%= link_to 'Edit', edit_note_path(note) %></div>
              <div class="option" title="Delete"><%= link_to 'Delete', note, method: :delete%></div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
