<div class="new-note">
  <%= link_to 'Nueva nota', new_note_path, class: 'btn btn-outline-primary' %>
</div>
<div class="panel-note">
  <% @notes.each do |notes| %>
  <div class="each-note">
    <div class="options">
      <div class="edit">
        <%= link_to '<i class="far fa-edit"></i>'.html_safe, notes, method: :edit %>
      </div>
      <div class="delete">
        <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, notes, method: :delete %>
      </div>
    </div>
    <p class="title"><%= notes.title %></p>
  <div>
  </div>
    <%= notes.content %>
  </div>
  <%end%>
</div>
