<%= form_tag("/login", method: "post") do %>
  <div class="login" style="margin-top: -50px;">
    <div class="container" style="background: #007bff;  border: 1px solid #007bff;">
      <h1 style= "color: #ffffff;">Welcome Back!</h1>
    </div>
    <div class="container">
      <div class="form-group">
        <div class="label-name">
          <%= label_tag :username %>
        </div>
        <div class="input-name">
          <%= text_field_tag :username, params[:username], :class => "form-control", :placeholder => "Enter Username", :required => true%>
        </div>
      </div>
      <div class="form-group">
        <div class="label-name">
          <%= label_tag :password %>
        </div>
        <div class="input-name">
          <%= password_field_tag :password, params[:password], :class => "form-control", :placeholder => "Enter Password", :required => true %>
        </div>
      </div>
      <div class="form-group">
        <div class="row" style="background: white;">
          <div class="col-md-6 ">
            <label><input type="checkbox" checked="checked" name="remember">Remember me</label>
          </div>
        </div>
      </div>
      <div class="actions"><%= submit_tag "Log in Now" , :class => 'btn btn-primary'%></div>
    </div>
    <br>
    Not register ?   <%= link_to "click here", signup_path, :class => "colorYellow"%> or go to <%= link_to "Home", root_path, :class => "colorYellow"%>
  </div>
<% end %>
