<%= form_tag("/login", method: "post") do %>
  <div class="label-name">
  <%= label_tag :username %>
</div>
<div class="input-name">
  <%= text_field_tag :username, params[:username], :placeholder => "Enter Username"%>
</div>
  <div class="label-name">
  <%= label_tag :password %>
</div>
<div class="input-name">
  <%= password_field_tag :password, params[:password], :placeholder => "Enter Password" %>
</div>
  <div class="actions"><%= submit_tag "Log in" %></div>
  <% end %>
