<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="sign-up" style="margin-top: -50px;">
    <div class="container" style="background: #007bff;  border: 1px solid #007bff;">
      <h1 style= "color: #ffffff;">Subscription Form!</h1>
    </div>
    <div class="container">
      <div class="row" style= "background: white;">
        <div class="col-md-5">
        <div class="label-name">
          <%= form.label :email %>
        </div>  </div>
          <div class="col-md-7">
        <div class="input-name">
          <%= form.text_field :email, id: :user_email, :class => "form-control", :placeholder => "Your email", :required => true %>
        </div>  </div>
      </div><br>
      <div class="row" style= "background: white;">
        <div class="col-md-5">
        <div class="label-name">
          <%= form.label :name %>
        </div>
        </div>
        <div class="col-md-7">
        <div class="input-name">
          <%= form.text_field :name, id: :user_name, :class => "form-control", :placeholder => "Your username", :required => true %>
        </div>
        </div>
      </div><br>
      <div class="row" style= "background: white;">
        <div class="col-md-5">
        <div class="label-name">
          <%= form.label :password %>
        </div>
          </div>
        <div class="col-md-7">
        <div class="input-name">
          <%= form.password_field :password, id: :user_password, :class => "form-control", :placeholder => "Your password", :required => true %>
        </div>  </div>
      </div><br>
      <div class="row" style= "background: white;">
        <div class="col-md-5">
        <div class="label-name">
          Confirm password
        </div></div>
        <div class="col-md-7">
        <div class="input-name">
          <%= form.password_field :password_confirmation , :class => "form-control", :placeholder => "Confirm password", :required => true %>
        </div></div>
        <div class="input-name search">
          <%= form.file_field :cover %>
        </div>
      </div><br>
        <div class="actions">
        <%= form.submit 'Create user', :class => 'btn btn-primary' %>
      </div>
    </div>
    <br>
  <%= link_to "Log in", login_path, :class => "colorYellow"%> or go to <%= link_to "Home", notes_path, :class => "colorYellow"%>
  </div>

<% end %>
