<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form id="form-signUp" action="" method="post" autocomplete="off">
    <div class="label-name">
      <%= form.label :name %>
    </div>


    <div class="input-name">
      <%= form.text_field :name, id: :user_name, :class => "input-name", :placeholder => "Your username" %>
    </div>


    <div class="label-name">
      <%= form.label :password %>
    </div>
    <div class="input-name">
      <%= form.text_field :password, id: :user_password, :placeholder => "Your password" %>
    </div>


  <div class="actions">
    <%= form.submit 'Create user', :class => 'btn btn-primary' %>
  </div>
  <% end %>
</form>
