<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="sign-up">
    <div class="container">
      <div class="avatar">
        <%= image_tag "/imageAvatar/#{@user.id}/avatar/#{@user.cover_filename}", :style => 'width: 100px;' if  @user.cover_filename?%>
      </div>
      <div class="form-group">
        <div class="label-name">
          <%= form.label :email %>
        </div>
        <div class="input-name">
          <%= form.text_field :email, id: :user_email, :class => "form-control", :placeholder => "Your email", :required => true %>
        </div>
      </div>
      <div class="form-group">
        <div class="label-name">
          <%= form.label :name %>
        </div>
        <div class="input-name">
          <%= form.text_field :name, id: :user_name, :class => "form-control", :placeholder => "Your username" %>
        </div>
      </div>
      <div class="form-group">
        <div class="label-name">
          <%= form.label :password %>
        </div>
        <div class="input-name">
          <%= form.text_field :password, id: :user_password, :class => "form-control", :placeholder => "Your password" %>
        </div>
      </div>
      <div class="label-name">
        <p>Change your avatar</p>
        <%= form.label :avatar %>
      </div>
      <div class="input-name search">
        <%= form.file_field :cover %>
      </div>
      <div >
        <div class="actions">
        <%= form.submit 'Save changes', :class => 'btn btn-primary' %>
        <%= link_to 'Back', notes_path, :class => 'btn btn-secondary' %>
      </div>

      </div>
      <div class="delete">
          <%= link_to 'Delete account', @user, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
      </div>

    </div>


  </div>

<% end %>
