<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="label-name">
      <%= form.label :name %>
    </div>


    <div class="input-name">
      <%= form.text_field :name, id: :user_name, :class => "input-name", :placeholder => "Your username" %>
    </div>


    <div class="label-name">
      <%= form.label :password %>
    </div>
    <div class="input-name">
      <%= form.text_field :password, id: :user_password, :placeholder => "Your password" %>
    </div>

    <div class="label-name">
      <%= form.label :avatar %>
    </div>
    <div class="input-name">
      <%= form.file_field :cover %>
    </div>
</div>
  <div class="container">  <div class="actions">
    <%= form.submit 'Create user', :class => 'btn btn-primary' %>
  </div>
<%= link_to 'Back', users_path %>
</div>

<style>
/* Style all input fields */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
}

/* Style the container for inputs */
.container {
    background-color: #f1f1f1;
    padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}
</style>
  <% end %>
