<p id="notice"><%= notice %></p>

<div class="user-card">
  <div class="avatar">
    <% if  @user.cover_filename%>
      <%= image_tag "/imageAvatar/#{@user.id}/avatar/#{@user.cover_filename}", :style => 'width: 100px;'%>
    <% else %>
      <%= image_tag "/imageDefault/defaultAvatar.jpg", :style => 'width: 100px;' %>
    <% end %>
  </div>
  <div class="name">
    <%= @user.name %>
  </div>
  <div class="email">
    <%= @user.email %>
  </div>
  <div class="actions">
    <%= link_to 'Back', notes_path, class: "btn btn-secondary" %>
  </div>
  <%= link_to "Add Friend", friendships_path(:friend_id => @user.id), :method => :post %>
</div>
