<p id="notice"><%= notice %></p>

<div class="user-card">
  <div class="avatar">
    <%= image_tag "/imageAvatar/#{@user.id}/avatar/#{@user.cover_filename}", :style => 'width: 100px;' if  @user.cover_filename?%>
  </div>
  <div class="name">
    <%= @user.name %>
  </div>
  <div class="email">
    <%= @user.email %>
  </div>
  <div class="actions">
    <%= link_to 'Back', notes_path, class: "btn btn-secondary" %>
  </div>
</div>
