<p id="notice"><%= notice %></p>

<div class="user-card">
  <div class="stats">
    <a href="<%= following_user_path(@user) %>"
      <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
    ></a>
  </div>
  <%= render 'follow_form' if session[:user] %>
  <div class="avatar">
    <%= image_tag "/imageAvatar/#{@user.id}/avatar/#{@user.cover_filename}", :style => 'width: 100px;' if  @user.cover_filename?%>
  </div>
  <div class="name">
    <%= @user.name %>
  </div>
  <div class="email">
    <%= @user.email %>
  </div>
  <div class="actions">
    <%= link_to 'Back', notes_path, class: "btn btn-secondary" %>
  </div>
</div>
