<p id="notice"><%= notice %></p>

<div class="user-tab">
  <div class="user-card">
    <div class="avatar">
      <% if  @user.cover_filename%>
        <%= image_tag "/imageAvatar/#{@user.id}/avatar/#{@user.cover_filename}", :style => 'width: 100px;'%>
      <% else %>
        <%= image_tag "/imageDefault/defaultAvatar.jpg", :style => 'width: 100px;' %>
      <% end %>
    </div>
    <div class="name">
      <%= @user.name %>
    </div>
    <div class="email">
      <%= @user.email %>
    </div>
    <div class="actions">
      <% if @user.id != session[:user_id]%>
        <% if current_user.friendships.find_by_friend_id(@user.id)%>
          <%= link_to "Remove Friend", friendship_path(current_user.friendships.find_by_friend_id(@user.id)), :method => :delete, class: 'btn btn-danger' %>
        <%else%>
          <%= link_to "Add Friend", friendships_path(:friend_id => @user.id), :method => :post , class: "btn btn-primary"%>
        <% end %>
      <% end %>
      <%= link_to 'Back', notes_path, class: "btn btn-secondary" %>
    </div>
  </div>
<% if @user.id == session[:user_id]%>
  <div class="user-tab">
    <div class="user-card">
      <div class="friends">
        <h3 class="name">My friend requests</h3>
        <ul>
        </ul>
      </div>
    </div>
  </div>
<% end %>
  <div class="user-card">
    <div class="friends">
      <h3 class="name">My friends</h3>
      <ul>
        <% for friendship in @user.friendships %>
          <li>
            <div class="avatar-xs">
              <% if friendship.friend.cover_filename %>
                <%= image_tag "/imageAvatar/#{friendship.friend.id}/avatar/#{friendship.friend.cover_filename}", :style => 'width: 100px;'%>
              <% else %>
                <%= image_tag "/imageDefault/defaultAvatar.jpg", :style => 'width: 100px;' %>
              <% end %>
            </div>
            <p class="friend-name"><%= link_to friendship.friend.name, friendship.friend %></p>
            <%= link_to "Delete friend", friendship, :method => :delete, class: 'btn btn-danger' %>
          </li>
        <% end %>
        <% if @user.id != session[:user_id]%>
          <% for user in @user.inverse_friends %>
            <li>
              <div class="avatar-xs">
                <% if user.cover_filename %>
                  <%= image_tag "/imageAvatar/#{user.id}/avatar/#{user.cover_filename}", :style => 'width: 100px;'%>
                <% else %>
                  <%= image_tag "/imageDefault/defaultAvatar.jpg", :style => 'width: 100px;' %>
                <% end %>
              </div>
              <p class="friend-name"><%= link_to user.name, user %></p>
            </li>
          <% end %>
        <% end %>
      </ul>

  </div>
</div>
