<!DOCTYPE html>
<html>
  <head>
    <title>Your awesome notes</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="nav">
        <div class="logo">
          <i class="far fa-sticky-note fa-3x"></i>
        </div>
        <ul class="nav-elements">
          <li>Settings</li>
          <li>My profile</li>
          <% if user_signed_in? %>
          <li>
              <li><%= link_to "Close", destroy_user_session_path, :method => :delete %></li>
          </li>
          <%else%>
          <li>
              <li><%= link_to "Log In", new_user_session_path %></li>
          </li>
          <li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
          </li>
          <%end%>
        </ul>
      </nav>
    </header>
    <p class="alert"><%= alert %></p>
    <p class="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
