<!DOCTYPE html>
<html>
  <head>
    <title>Olra Notes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
<% if session[:user] %>
  <div class="page-container">
    <div class="sidebar-menu">
      <%= link_to image_tag("olraN.png", :style => 'width: 200px;'), notes_path, class: 'logo'%>
      <div class="menu">
        <ul>
          <li>
            <%= link_to "#{session[:user]}", edit_user_path(session[:user_id]) %>
            <%= image_tag "/imageAvatar/#{session[:user_id]}/avatar/#{session[:user_cover]}", :class => "avatar-user", :style => 'width: 50px; border-radius: 50%; height: 50px;' %>
          </li>
          <li class="notes">
            <%= link_to "Notes", notes_path %>
          </li>
          <li>
            <%= link_to "Log out", logout_path %>
          </li>
        </ul>
      </div>
<% end %>

          
      <% flash.each do |name, msg| %>
             <%= content_tag :div, msg, :id => "flash_#{name}", :class => 'alert alert-danger alert-dismissible fade show' %>
           <% end %>
      <% if !session[:user] %>
             <div class="row">
               <div class="col-md-8 col-xs-8">
                 <div class="row">
                     <div class="col-md-8 ">
                         <h2 style="color: white;">Welcome to Olra Notes</h2>
                         <br>
                         <p style="color: white;">Organize your personal information through this application of notes.</p>
                         <br>
                         <div >
                         <p style="color: white;"><i class="fa fa-search" aria-hidden="true"></i>  Share your ideas</p>
                         <p style="color: white;"><i class="fa fa-hand-point-up" aria-hidden="true"></i>  Find what you need quickly</p>
                         <p style="color: white;"><i class="fa fa-save" aria-hidden="true"></i>  Save your ideas</p>
                       </div>
                       </div>
                     <div class="col-md-4">
                         <%= image_tag("esi.png", :style => 'width: 200px;')%>
                       </div>
               </div>
                 </div>
               <div class="col-md-4 col-xs-8">
                 <div class="row">
                 <div class="col-md-12 col-xs-8">
                   <h3 style="color: white;">Join Orla Notes Today</h3>
                   <br>
                    <%= link_to "Sign up", signup_path, :class => "form-control btn btn-verde " %>
                    <br>  <br>
                    <%= link_to "Log in", login_path, :class => "form-control btn btn-amarillo" %>
                 </div>
                 </div>
               </div>
             </div>

           <% end %>
    </div>
  </body>
</html>

<script>
</script>
