<!DOCTYPE html>
<html>
  <head>
    <title>Olra Notes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </head>
  <body>
  <% if session[:user] %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to image_tag("olraN.png", :style => 'width: 150px;'), notes_path %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 menu-collapse">
          <div class="search">
              <%= form_tag "users#index", :class => "form-inline my-2 my-lg-0 search" , method: :get do %>
                <%= text_field_tag :search, params[:search], :placeholder => "Search users...", :class => "form-control mr-sm-2" %>
                <%= button_tag(type: "submit", :title => "Search", class: "btn btn-outline-success my-2 my-sm-0 btn-search") do %><i class="fa fa-search" aria-hidden="true"></i><% end %>
              <%end%>
          </div>
          <li class="nav-item">
            <% if session[:user_cover]%>
              <%= image_tag "/imageAvatar/#{session[:user_id]}/avatar/#{session[:user_cover]}", :id => "avatar-user", :class => "avatar-user", :style => 'width: 50px; border-radius: 50%; height: 50px;' %>
            <% else %>
              <%= image_tag "/imageDefault/defaultAvatar.jpg", :id => "avatar-user", :class => "avatar-user", :style => 'width: 50px; border-radius: 50%; height: 50px;' %>
            <% end %>
            <div class="menu">
              <div><%= link_to "Profile",  user_path(session[:user_id] )%></div>
              <div><%= link_to "Edit User", edit_user_path(session[:user_id]) %></div>
              <% if current_user.admin? %>
                <div><%= link_to "Show all users", users_path %></div>
              <% end %>
              <div><%= link_to "Log out", logout_path %></div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  <%end%>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => 'alert alert-danger alert-dismissible fade show' %>
      <% end %>
      <div id="container">
        <%= yield %>
      </div>


      <% if !session[:user] && current_page?(root_path) %>
        <div class="row">
          <div class="col-md-8 col-xs-8">
            <div class="row">
              <div class="col-md-8 ">
                <h2 style="color: white;">Welcome to Olra Notes</h2>
                <br>
                <p style="color: white;">Organize your personal information through this application of notes.</p>
                <br>
                <div>
                  <p style="color: white;"><i class="fa fa-search" aria-hidden="true"></i>  Share your friends</p>
                  <p style="color: white;"><i class="fa fa-hand-point-up" aria-hidden="true"></i>  Find what you need quickly</p>
                  <p style="color: white;"><i class="fa fa-save" aria-hidden="true"></i>  Save your ideas</p>
                </div>
              </div>
              <div class="col-md-4">
                <%= image_tag("esi.png", :style => 'width: 200px;')%>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-8">
           <div class="row">
             <div class="col-md-12 col-xs-8">
               <h3 style="color: white;">Join Orla Notes Today</h3>
                <br>
                <%= link_to "Sign up", signup_path, :class => "form-control btn btn-verde " %>
                <br>  <br>
                <%= link_to "Log in", login_path, :class => "form-control btn btn-amarillo" %>
              </div>
                 </div>
               </div>
             </div>
      <% end %>
  </body>
</html>
