<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeNotes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><i class="fab fa-fort-awesome-alt fa-2x"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      <div>
        <%= form_tag "notes#index", method: :get do %>
          <%= text_field_tag :search, params[:search], :placeholder => "Look for the title of the notes..." %>
          <%= submit_tag "Search"%>
        <%end%>
      </div>
        <form class="form-inline my-2 my-lg-0">
          <% if session[:user] %>
            Logged in as <%= session[:user] %>.
            <%= link_to "Log out", logout_path %>
          <% else %>
            <%= link_to "Sign up", signup_path, :class => "form-control mr-sm-2" %>
            <%= link_to "Log in", login_path, :class => "form-control mr-sm-2" %>
          <% end %>
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
        </form>
      </div>
    </nav>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
